<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for("static", filename='index.css') }}">
	<title>Home</title>
</head>
<body>
	<h1 id="h1-main"align="center">Crypto Watcher</h1>
	
	{% for name,value in price.items() %}
	<div class="container-prices">
		<table style="width:100%">
			<tr>
    			<th>Coin Name</th>
    			<th>Current Price</th> 
    			<th>Market Cap</th>
  			</tr>
  			<tr>
    			<td>{{name}}</td>
    			<td>{{value.usd}}</td> 
    			<td>Empty</td>
  			</tr>
		</table>
	</div>
	<!-- <p id = price-statement>This is the price of {{name}}: {{value.usd}}</p> -->
	{% endfor %}
</body>
</html>