<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for("static", filename='index.css') }}">
	<title>Home</title>
</head>

<body>

	<h1 id="h1-main" align="center">Crypto Watcher</h1>

	<div class="container-prices">
		<table style="width:100%">
			<tr>
				<th>Coin Name</th>
				<th>Current Price</th>
				<th>Market Cap</th>
			</tr>
			{% for coins, value in prices.items() %}
			<tr>
				<td align="center">{{coins.upper()}}</td>
				<td align='center'>{{value.usd}}</td>
				<td align="center">{{value.usd_market_cap}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>

</body>

</html>